.top-line {
  background: #000;
  padding-top: 10px;
  padding-right: 335px;
  text-align: right;
  height: 25px;
  font-size: 14px;
  font-weight: 600;
  color: aliceblue;
}

.top-line a {
  padding-right: 12px;
}

.nav-bar {
  background: #f9de4a;
  padding: 100px 335px 20px;
  text-align: center;
}

.nav-bar a {
  padding-right: 30px;
  font-size: 17px;
  font-weight: 600;
}

.nav-bar a:last-child {
  padding-right: 0px;
  
}

.slider {
  height: 540px;
  background: #b22520;
}

.weather {
  height: 60px;
  background: #f4f4f4;
  text-align: center;
  padding-top: 50px;
}

.weather a {
  font-size: 16px;
  color: black;
}

.reservation {
  position: relative;
  background-color: grey;
  width: 330px;
  height: 250px;
}

.quickTab {
  width: 330px;
  display: table;
}

.quickTab ul li {
  display: table-cell;
  width: 165px;
  height: 30px;
  color: #f4f4f4;
  vertical-align: top;
  /* sorry couldn't center text vertically */
  padding-top: 4%;
  text-align: center;
}

.quickTab ul li:hover {
  cursor: pointer;
  background-color: darkgray;
}