body {
  font-family: 'Nanum Gothic', sans-serif;
}

header {
    background: #f9de4a;
}

.top-line {
  background: #000;
  padding-top: 10px;
  padding-right: 335px;
  text-align: right;
  height: 25px;
  font-size: 14px;
  font-weight: 600;
  color: aliceblue;
}

.top-line a {
  padding-right: 12px;
}

.main_logo img {
    width: 330px;
    height: 80px;
    display: block; 
    margin: 10px auto;
}

.nav_icon img {
    width: 70px;
    padding-right: 28px;
}

.nav-bar {
  background: #ffdb26;
  padding: 30px 250px 20px;
  text-align: center;
}

.nav-bar a {
  padding-right: 30px;
  font-size: 17px;
  font-weight: 600;
}

.nav-bar a:last-child {
  padding-right: 0px;
  
}

.slider {
    width: 100%;
    background: #b22520;
}

.sliderContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #b22520;
  height: 44vh; 
}

.slider_box {
  margin-right: 30px;
  width: 600px;
  height: 410px;
}

.reservation {
  background-color: #2B2A27;
  width: 230px;
  height: 190px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.321);
  position: relative; 
}

.inner {
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
}
 
.images {
    margin-top: 50px;
    width: 500px;
    height: 300px;
    display: flex;
    position: relative;
}

.images img {
     width: 500px;
     height: 300px;
}

.slider_btn1 {
    float: left;
    background: none;
    border: none;
    margin-left: 10px;
    margin-top: -190px;
}

.slider_btn1 img {
    width: 48px;
    opacity: 50%;
}

.slider_btn1 img:hover {
    opacity: 100%;
}

.slider_btn2 {
    margin-top: -190px;
    margin-right: 10px;
    float: right;
    background: none;
    border: none;
}

.slider_btn2 img {
    width: 48px;
}

  /* RESERVATION / Calendar */

  .calendar{
    display: flex;
    justify-content: center;
    margin-top: 7%;
  }
  
  .calendar input[type="date"]{
    position: relative;
    margin-top: 2px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    width: 200px;
    height: 40px;
    border-radius: 5px; 
    background: #f4f4f4 url(../images/calendar_icon.jpg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 90%;
    font-size: 12px;
    border: none;
    outline: none;
  }
  
  .calendar input[type="date"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
    width: 40px;
    opacity: 0;
  }
  
  .wrapper{
    display: flex;
  }
  
/* promotion */

.promotion {
    height: 500px;
    background: #ffffff;
    padding-top: 50px;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
}

.promotion a:last-child {
    color: #ea433e;
}

.promotion_container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.promotion_box {
  padding-top: 20px;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom:30px;
  width: 300px;
  height: 340px;
  border: 1px solid #dbdbdb;
  float: left;
}

.promotion_box a:first-child {
  font-size: 13px;
  color: black;
  text-align: center;
}

.promotion_box a {
   font-size: 16px;
   color: black;
   padding-bottom: 20px;
   text-align: center;
  }

.promotion_img {
    padding-top: 20px;
    width: 300px;
    height: 170px;
    object-fit: cover;
}

.promotion_btn {
    background-color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
}

/* SEASON EVENT */

.eventText{
text-align: center;
font-size: 27px;
font-weight: 700;
padding-bottom: 3%;
}
.eventText a:last-child {
  color: #3b86f8;
}

.seasonEvent {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background: #eaeaea;
}

/* SEASON EVENT / Slider */
.img-slider{
  margin-top: 50px;
  position: relative;
  width: 900px;
  height: 350px;
}
.img-slider .slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 150%);
}
.img-slider .slide.active{
  clip-path: none;
  transition: 2s;
  transition-property: clip-path;
}
.img-slider .slide img{
  z-index: 1;
  height: 350px;
  width: 100%;
}
.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.img-slider .navigation .btn{
  background: rgba(0, 0, 0, 0.2);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.img-slider .navigation .btn.active{
  background: #4A4A4A;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }
  .img-slider .navigation{
  bottom: 25px;
  }
  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 400px;
    height: 250px;
  }
  .img-slider .navigation{
  bottom: 15px;
  }
  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}


.guide {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
}

.guide img {
    margin: 13px 7px 0 0;
    vertical-align: middle;
    width: 40px;
}

.guide a{
    font-size: 20px;
    margin-top: 30px;
}

.guide a:last-child{
    font-size: 13px;
    font-weight: bold;
    color: #7b7b7b;
}

.guide1 {
    float: left;
    margin-left: 47px;
    margin-top: 15px;
}

.guide1 a:last-child {
    margin-left: 87px;
}

.guide2 {
    float: left;
    margin-left: 90px;
}

.guide2 a:last-child {
    margin-left: 65px;
}

.guide3 {
    float: left;
    margin-left: 90px;
}

.guide3 a:last-child {
    margin-left: 79px;
}

.guide4 {
    float: left;
    margin-left: 90px;
}

.guide4 a:last-child {
    margin-left: 110px;
}

.sns {
    margin-top: 30px;
    height: 400px;
    padding-top: 50px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.sns a:first-child {
    font-size: 20px;
}

.sns a:last-child {
    font-size: 15px;
    font-weight: 400;
}

.sns img {
    padding: 5px;
    width: 200px;
}

.sns_img {
    margin: 60px 0;
}

.quickTab {
  width: 300px;
  display: table;
}

.quickTab ul li {
  display: table-cell;
  width: 115px;
  height: 25px;
  color: #f4f4f4;
  vertical-align: top;
  padding-top: 4%;
  text-align: center;
  background-color: #000;
  font-size: 12px;
  font-weight: 700;
}

.quickTab ul li.active {
  background-color: #2B2A27;
}

.quickTab ul li:hover {
  cursor: pointer;
} 

/* RESERVATION / Calendar */

.calendar{
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.calendar input[type="date"]{
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  width: 180px;
  height: 30px;
  border-radius: 5px; 
  background: #f4f4f4 url(../images/calendar_icon.jpg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 90%;
  font-size: 12px;
  border: none;
  outline: none;
}

.calendar input[type="date"]::-webkit-calendar-picker-indicator{
  cursor: pointer;
  width: 40px;
  opacity: 0;
}

.reservation .quantityTag{
  display: flex;
  margin: 6% 0 4% 0;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 11px;
  gap: 30%;
  font-weight: 700;
}

.wrapper{
  display: flex;
}

.valueBtn{
  height: 30px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  border-radius: 5px;
  margin: 2% 1% 0 10%;
}

.valueBtn:nth-child(2){
  margin-left: 2px;
}

.valueBtn span{
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
.valueBtn span.num{
  font-size: 13px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.buyNow{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 42px;
  font-size: 16px;
  font-weight: 900;
  background-color: #FEE50F;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -58%);
  cursor: pointer;
  font-family: 'Jalnan';
}

/* WEATHER */

.weather{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 148px;
  box-sizing: border-box; 
  background: #f5f5f5;
  padding: 0;
}

.vl{
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 1.8px;
  height: 60px;
  background-color: #DBDBDB;
  margin-left: 1%;
}

.temperature{
  display: flex;
}

.celsius{
  font-size: 44px;
  font-weight: 900;
  color: black;
  margin-right: 10%;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.weather img{
  height: 55px;
  width: 55px;
  padding-right: 40px;
}

.openingHours{
  padding-right: 20px;
}

.openingHours > div:first-child {
  padding-bottom: 2%;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: left;
}

.openingHours > div:last-child {
  font-size: 21px;
  font-weight: 800;
} 

.weather button{
  background-color: white;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.parkInfo{
  margin: 0 1% 0 2.5%;
  width: 235px;
  height: 60px;
  font-size: 18px;
  border: 1px solid rgb(110, 110, 110);
}

.ticketSearch{
  width: 235px;
  height: 60px;
  font-size: 18px;
  border: 1px solid rgb(110, 110, 110);
}

/* FOOTER */

footer {
  position: relative;
  height: 250px;
  font-weight: 600;
  font-size: 20px;
  color: #161616;
  background: #F9DD4B;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
}

footer .footer_content {
  margin-right: 15rem; 
}


/* legologos */
footer img {
  width: 130px;
  height: 30px;
  margin-right: 1rem;
}

footer .vl {
  width: 1.5px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 15px;
}

footer .footer_title {
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

footer .footer_title a {
  margin: 0 10px;
}

footer .copyright {
  font-size: 17px;
  order: 2;
}

footer .SNS img {
  width: 30px;
  height: 30px;
  margin-bottom: 2%;
}

footer .contact-info {
  display: flex;
  margin-left: auto; 
}
