*{
  margin: 0;
  padding: 0;
}

.top-line {
  background: #000;
  padding-top: 10px;
  padding-right: 335px;
  text-align: right;
  height: 25px;
  font-size: 14px;
  font-weight: 600;
  color: aliceblue;
}

.top-line a {
  padding-right: 12px;
}

.nav-bar {
  background: #f9de4a;
  padding: 100px 335px 20px;
  text-align: center;
}

.nav-bar a {
  padding-right: 30px;
  font-size: 17px;
  font-weight: 600;
}

.nav-bar a:last-child {
  padding-right: 0px;
  
}

.slider {
  height: 540px;
  background: #b22520;
}

/* RESERVATION */

.reservation {
    position: relative;
    background-color: #2B2A27;
    width: 330px;
    height: 250px;
  }
  
  .quickTab {
    width: 330px;
    display: table;
  }
  
  .quickTab ul li {
    display: table-cell;
    width: 165px;
    height: 30px;
    color: #f4f4f4;
    vertical-align: top;
    /* sorry couldn't center text vertically */
    padding-top: 4%;
    text-align: center;
    background-color: #000;
  }
  
  .quickTab ul li.active {
    background-color: #2B2A27;
  }
  
  .quickTab ul li:hover {
    cursor: pointer;
  } 
  
  /* RESERVATION / Calendar */
  
  .calendar{
    display: flex;
    justify-content: center;
    margin-top: 7%;
  }
  
  .calendar input[type="date"]{
    position: relative;
    text-align: center;
    /* Add padding but 265 x 40 remains the same */
    box-sizing: border-box;
    padding: 5px;
    width: 265px;
    height: 40px;
    border-radius: 5px; 
    background: #f4f4f4 url(../images/calendar_icon.jpg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 90%;
    font-size: 15px;
    border: none;
    outline: none;
  }
  
  .calendar input[type="date"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
    /* noonsokim */
    width: 40px;
    opacity: 0;
  }
  
  .reservation .quantityTag{
    display: flex;
    margin-top: 7%;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 15px;
    gap: 30%;
  }
  
  .wrapper{
    display: flex;
  }
  
  .valueBtn{
    height: 40px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
    border-radius: 5px;
    margin: 2% 0 0 10%;
  }
  
  .valueBtn:nth-child(2){
    margin-left: 2px;
  }
  
  .valueBtn span{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  .valueBtn span.num{
    font-size: 15px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
  }
  
  .buyNow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 55px;
    font-size: 25px;
    font-weight: 900;
    background-color: #FEE50F;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

/* promotion */

.promotion {
    height: 500px;
    background: #ffffff;
    padding-top: 50px;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
}

.promotion a:last-child {
    color: #ea433e;
}

.promotion_container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.promotion_box {
  padding-top: 20px;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom:30px;
  width: 300px;
  height: 340px;
  border: 1px solid #dbdbdb;
  float: left;
}

.promotion_box a:first-child {
  font-size: 13px;
  color: black;
  text-align: center;
}

.promotion_box a {
   font-size: 16px;
   color: black;
   padding-bottom: 20px;
   text-align: center;
  }

.promotion_img {
    padding-top: 20px;
    width: 300px;
    height: 170px;
    object-fit: cover;
}

.promotion_btn {
    background-color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
}

/* SEASON EVENT */

/* text
padding-top: 50px;
text-align: center;
font-size: 27px;
font-weight: 700; */

.seasonEvent {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
}

/* SEASON EVENT / Slider */
.slider-container{
  position: relative;
  margin-top: 3%;
  width: 930px;
  height: 350px;
}

.slider-container .slides{
  width: 100%;
  height: 370px;
  position: relative;
  overflow: hidden;
}

.slider-container .slides img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.slider-container .slides img:not(.active){
  top: 0;
  left: -100%;
}

.dotsContainer{
  position: absolute;
  bottom: 5px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  top: 172%;
}

.dotsContainer .dot{
  width: 10px;
  height: 10px;
  margin: 0px 2px;
  border: 3px solid rgb(161, 161, 161);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotsContainer .active{
  background-color: #555;
}

.guide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
}

.guide img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.guide a{
    font-size: 20px;
    margin-top: 30px;
}

.guide a:last-child{
    font-size: 13px;
    font-weight: bold;
    color: #7b7b7b;
}

.guide1 {
    float: left;
    margin-left: 45px;
}

.guide1 a:last-child {
    margin-left: 92px;
}

.guide2 {
    float: left;
    margin-left: 90px;
}

.guide2 a:last-child {
    margin-left: 73px;
}

.guide3 {
    float: left;
    margin-left: 90px;
}

.guide3 a:last-child {
    margin-left: 79px;
}

.guide4 {
    float: left;
    margin-left: 90px;
}

.guide4 a:last-child {
    margin-left: 110px;
}

.sns {
    margin-top: 30px;
    height: 400px;
    padding-top: 50px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.sns a:first-child {
    font-size: 20px;
}

.sns a:last-child {
    font-size: 15px;
    font-weight: 400;
}

.sns img {
    padding: 5px;
    width: 200px;
}

.sns_img {
    margin: 60px 0;
}

.footer {
    height: 250px;
    padding-top: 20px;
    font-weight: 600;
    color: white;
    background: #507f55;
}

.footer a {
    padding-left: 30px;
    font-size: 17px;
}

.footer_title {
    padding-bottom: 12px;
}

.container {
    padding-left: 30px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
}

.quickTab {
  width: 330px;
  display: table;
}

.quickTab ul li {
  display: table-cell;
  width: 165px;
  height: 30px;
  color: #f4f4f4;
  vertical-align: top;
  /* sorry couldn't center text vertically */
  padding-top: 4%;
  text-align: center;
  background-color: #000;
}

.quickTab ul li.active {
  background-color: #2B2A27;
}

.quickTab ul li:hover {
  cursor: pointer;
} 

/* RESERVATION / Calendar */

.calendar{
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.calendar input[type="date"]{
  position: relative;
  text-align: center;
  /* Add padding but 265 x 40 remains the same */
  box-sizing: border-box;
  padding: 5px;
  width: 265px;
  height: 40px;
  border-radius: 5px; 
  background: #f4f4f4 url(../images/calendar_icon.jpg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 90%;
  font-size: 15px;
  border: none;
  outline: none;
}

.calendar input[type="date"]::-webkit-calendar-picker-indicator{
  cursor: pointer;
  /* noonsokim */
  width: 40px;
  opacity: 0;
}

.reservation .quantityTag{
  display: flex;
  margin-top: 7%;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 15px;
  gap: 30%;
}

.wrapper{
  display: flex;
}

.valueBtn{
  height: 40px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  border-radius: 5px;
  margin: 2% 0 0 10%;
}

.valueBtn:nth-child(2){
  margin-left: 2px;
}

.valueBtn span{
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.valueBtn span.num{
  font-size: 15px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.buyNow{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 55px;
  font-size: 25px;
  font-weight: 900;
  background-color: #FEE50F;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* WEATHER */

.weather{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  box-sizing: border-box; 
  background: #f4f4f4;
  padding: 0;
}

.vl{
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 3px;
  height: 90px;
  background-color: #DBDBDB;
  /* Karma will hit me back but I only live today */
  margin-left: 3%;
}

.temperature{
  display: flex;
}

.celsius{
  font-size: 50px;
  font-weight: 900;
  color: black;
  margin-right: 2%;
}

.weather img{
  height: 60px;
  width: 60px;
  /* margin-right: 3%; */
  padding-right: 20px;
}

.openingHours{
  padding-right: 20px;
}

.openingHours > div:first-child {
  padding-bottom: 2%;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.openingHours > div:last-child {
  font-size: 28px;
  font-weight: 800;
} 

.weather button{
  background-color: white;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}

.parkInfo{
  margin: 0 1% 0 4%;
  width: 270px;
  height: 70px;
  font-size: 20px;
}

.ticketSearch{
  width: 270px;
  height: 70px;
  font-size: 20px;
}