body {
  background: #f9d851;
}

@media screen and (max-width: 390px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'JalnanOTF', sans-serif;
    background-color: #F8D950;
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content {
    text-align: center;
    margin-top: 20px;
  }

  #screen-size-message {
    display: none;
  }
  .navmenu-page-container {
    display: none;
  }

  .show-navmenu {
    display: block;
  }

  /* Hide the main content when the navigation menu is shown */
  .show-navmenu ~ #main-page-container {
    display: none;
  }

  .menu-item {
    display: flex;
    align-items: center;
  }
  
  /* Add margin to create some space between the icon and the input */
  .material-icons {
    margin-right: 5px;
  }
  
  /* Adjust the flex properties of the search text to stay on the same row */
  .search-text {
    margin-top: 18px;
  }

  /* Header styles */
  
  .mb_main_logo img {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    width: 200px;
    margin-right: 85px;
  }
  .mb_lang img {
    float: right;
    margin-top: 30px;
    width: 20px;
  }
  .mb_hamburger_btn img {
    float: left;
    margin-top: 30px;
    margin-right: 15px;
    width: 20px;
  }
  .mb_top_line {
    height: 70px;
    border-bottom: 2px solid black;
  }

  i {
    font-size: 25px;
    margin: 27px 263px 0 20px;
    float: left;
  }



  /* Attraction image styles */
  .attraction-image {
    width: 100%;
    max-width: 100%;
  }

/* Attraction title container styles */
.attraction-title-container {
  display: flex;
  justify-content: center;
}

/* Attraction title styles */
.attraction-title {
  font-size: 24px;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
  padding: 30px;
  width: 100%;
  height: 84px;
  text-align: center;
  line-height: 1; 
}
  
/* Attraction info styles */
.attraction-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
}

/* Attraction info styles */
.attraction-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
}

/* Attraction info item styles */
.attraction-info-item {
  margin-bottom: 10px;
}

.attraction-info-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.attraction-info-item span img {
  margin-right: 5px;
}

/* Attraction restriction styles */
.attraction-restriction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-align: center;
}

/* Add additional spacing on top and bottom */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
  
  /* Dashed line styles */
  .dashed-line {
      margin: 35px 0;
      height: 2px;
      background: repeating-linear-gradient(
        to right,
        transparent,
        transparent 10px,
        black 5px,
        black 20px
      )
  }
  
  /* Description styles */
  .description {
    text-align: center;
    margin-bottom: 20px;
    line-height: 200%;
  }
  
  /* Clock icon and hours section styles */
  .icon.hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-align: center;
  }

  .icon.hours img {
  margin-right: 5px;
  }

  .hours-title {
  color: #D55682;
  }

  .hours-list {
  list-style: none;
  margin-top: 10px;
  padding: 0;
  text-align: center; 
  }

  .hours-list li {
  margin-bottom: 5px;
  }

  /* Location icon and location section styles */
  .icon.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-align: center;
  }

  .icon.location img {
  margin-right: 5px;
  }

  .location-title {
  color: #4183D0;
  }

  .location-name {
  text-align: center;
  margin-bottom: 10%;
  }
  }

  .footer_box {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    background-color: #333333;
  }
  .footer {
    background-color: #3b3b3b;
    color: #9e9e9e;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid #7d7d7d;
  }
  .footer_copyright{
    background-color: #333333;
    color: #9e9e9e;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    padding: 30px;
  }
  .footer_copyright img{
    width: 70px;
    margin: 0 0 30px 0;
  }

@media screen and (min-width: 391px) {
  .main,
  .main_img img,
  .mb_main_logo,
  .mb_hamburger_btn,
  .fa-solid,
  .attraction-image,
  .attraction-title,
  .attraction-info,
  .attraction-restriction,
  .description,
  .icon,
  .hours-list,
  .location-name,
  .footer_box {
    display: none;
  }
  #screen-size-message {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #FF5252;
    margin-top: 20px;
  }
}  