@media screen and (max-width: 389px) and (max-height: 816px) {
  body {
    font-family: 'JalnanOTF', sans-serif;
    background-color: #F8D950;
    margin-left: 30px;
    margin-right: 30px;
  }

  .top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
  }

  .language-button,
  .close-button {
    font-size: 16px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    margin-right: 10px;
  }
  
  .search-text {
    font-weight:lighter;
  }
  

  .menu-item {
    display: block;
    width: 280px;
    margin: 20px 0;
    padding: 10px 0;
    position: relative;
  }

  /* selects all elements with menu-item but excludes the Search bar */
  .menu-item:not(:first-child)::after {
    content: "";
    position: absolute;
    bottom: -10px; 
    left: 0;
    right: 0;
    height: 1px;
    background-color: black;
  }

  .menu-item:first-child {
    border-bottom: none;
    margin-bottom: 30%;
  }

  .temperature{
    display: flex;
  }
  
  .celsius{
    font-size: 50px;
    font-weight: 900;
    color: black;
  }
  
  .temperature img{
    height: 30px;
    width: 30px;
  }

  .sns-icons {
    text-align: center;
    margin-top: 20px;
  }

  .sns-icons img {
    width: 90px;
    margin: 0 5px;
  }
}



@media screen and (min-width: 390px) {
  .menu,
  .sns-icons {
    display: none;
  }
}
